/* осн. стили */
body {
  background:url(img/fon.jpg) ;/*  фон */
  text-align: center;  /* Выравнивание по центру  */ 
  background-repeat: no-repeat;
  background-position: top; 
  background-size: cover;
  background-attachment: fixed
   
}

/* меню навигации */
nav {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
}
a {
    color: #ffffff;  /* Цвет ссылок */
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
a:visited {
    color: #ffffff; /* Цвет посещенных ссылок */
}
a:active {
    color: #ffffff; /* Цвет активных ссылок */
}

/* лого по центру,размер */
header{ 
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
.logo{
    Width: 30%;
}

/*стиль текста*/
h1{
	color: #9b4949;  /*цвет текста*/
	font-size: 26px;  /*рзмер*/
	font-weight: 600;
}
h2{
	color: #9b4949;  /*цвет текста*/
	font-size: 26px;  /*рзмер*/
	font-weight: 600; 
}
p{
    color: #ffffff; /* Цвет*/
}

/*стиль картинок*/
.logo_postr{
   width:1000px;
   height:600px ;
   border-radius: 50px 50px 50px 50px;
}
.logo_img{
    width :200px;
    height :300px; 
    border-radius: 50px 50px 50px 50px;
}
.logo_cadr{
    width:250px; 
    height:150px;
    border-radius: 50px 50px 50px 50px;
}

/*стиль ссылки*/
.c {
    border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px 15px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    color: #000; /* Цвет текста */
  }
 .c:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #a00;
}

/*стиль подвала*/
.footer{
	text-align: center; 
}

