/* осн. стили */
body {
   background: url(../img/fon.jpg) ;  /*  фон */
   text-align: center;  /* выравнивание */  
   background-repeat: no-repeat;
   background-position: top; 
   background-size: cover;
   background-attachment: fixed
}

/* меню навигации */
nav {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
}
a {
    color: #ffffff; /* Цвет ссылок */
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
a:visited {
    color: #ffffff; /* Цвет посещенных ссылок */
}
a:active {
    color: #ffffff; /* Цвет активных ссылок */
}

/* лого по центру,размер */
header{
  text-align: center; 
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
.logo{
    Width: 30%;
}
/* стиль шрифта*/
p{
    color: #ffffff; /* Цвет*/
}
h3{
    color: #ffffff; /* Цвет*/
}

/*стиль подвала*/
.footer{
	text-align: center; 
}