/* осн. стили */
 body {
  background: url(../img/fon.jpg);/* Цвет фона */
  background-repeat: no-repeat;
  background-position: top; 
  background-size: cover;
  background-attachment: fixed
}

/* меню навигации */
nav {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  text-align: center;  /* Выравнивание текста */
}
a {
    color: #ffffff; /* Цвет ссылок */
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
a:visited {
    color: #ffffff; /* Цвет посещенных ссылок */
}
a:active {
    color: #ffffff; /* Цвет активных ссылок */
}

/* лого по центру,размер */
header{
  text-align: center; 
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
.logo{
    Width: 30%;
    text-align: center;
}

/* стиль текста и картинки */
p{
    color: #ffffff; /* Цвет*/
}
.logo_postr{
    width:250px;
    height:150px;
    border-radius: 50px 50px 50px 50px;
}

/*стиль подвала*/
.footer{
	text-align: center; 
}