/* осн. стили */
body {
  background: url(../../img/fon.jpg) ; /*  фон */
  background-repeat: no-repeat;
  background-position: top; 
  background-size: cover;
  background-attachment: fixed
}

/* меню навигации */
nav {
  color:  #ffffff;
  font-size: 22px;
  font-weight: bold;
  text-align: center;  /* Выравнивание текста */
}
a {
    color: #ffffff; /* Цвет ссылок */
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
a:visited {
    color: #ffffff; /* Цвет посещенных ссылок */
}
a:active {
    color: #ffffff; /* Цвет активных ссылок */
}

/* лого по центру,размер */
header{
  text-align: center; 
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
.logo{
    Width: 30%;
    text-align: center;
}

/* стиль текста и картинки */
rightimg  {
  float: right; /* Выравнивание по правому краю  */ 
  margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
}
p{
    color: #ffffff; /* Цвет*/
}
.logo_epiz{
    width :350px;
    height :200px;
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
    border-radius: 50px 50px 50px 50px
}

/* стиль формы */
.colortext {
   background-color: #bfbfbf; /* Цвет фона */
   color: #0014ff; /* Цвет текста */
   font-family: Verdana, sans-serif;  
   font-weight: light;
   width: 300px; /* Ширина поля с учетом padding */
   height: 20px; /* Высота */
   padding: 100 10px; /* Поля */
}
.color_text {
   background-color: #bfbfbf; /* Цвет фона */
   color: #0014ff; /* Цвет текста */
   font-family: Verdana, sans-serif;  
   font-weight: light;
   width: 300px; /* Ширина поля с учетом padding */
   height: 200px; /* Высота */
   padding: 100 10px; /* Поля */
}
.form{
	outline: 2px solid #000; /* Чёрная рамка */
    border: 3px solid #fff; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
	width: 310px;
}

/*стиль подвала*/
.footer{
	text-align: center; 
}