/* осн. стили */
body {
  background: url(../img/fon.jpg) ;  /*  фон */
  text-align: center ;
  background-repeat: no-repeat;
  background-position: top; 
  background-size: cover;
  background-attachment: fixed
} 

/* меню навигации */
nav {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
a {
    color: #ffffff; /* Цвет ссылок */
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
a:visited {
    color: #ffffff; /* Цвет посещенных ссылок */
}
a:active {
    color: #ffffff; /* Цвет активных ссылок */
} 

/* стиль картинок и лого */
.logo_ol{
    border-radius: 50px 50px 50px 50px;
    height: 250px;
    width: 170px;
}
.logo_ak{
    width:200px;
    height:300px;
    border-radius: 50px 50px 50px 50px;
}
.logo{
    Width: 30%;
}
p{
    color: #ffffff; /* Цвет*/
}
h2{
    color: #ffffff; /* Цвет*/
}

.ol{
  list-style-type: none; /* Убираем маркеры */
}
li{
	display: inline;
}
p{
    color: #ffffff; /* Цвет*/
}
/*стиль ссылки наверх*/
.c {
    border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px 15px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    color: #000; /* Цвет текста */
  }
 .c:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #a00;
}
/*стиль подвала*/
.footer{
	text-align: center; 
}
