/* осн. стили */
body {
  background: url(../img/fon.jpg) ;  /*  фон */
  text-align: center; /* Выравнивание по центру  */ 
  background-repeat: no-repeat;
  background-position: top; 
  background-size: cover;
  background-attachment: fixed
}  

/* меню навигации */
nav {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
}
a {
    color: #ffffff; /* Цвет ссылок */
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
a:visited {
    color: #ffffff; /* Цвет посещенных ссылок */
}
a:active {
    color: #ffffff; /* Цвет активных ссылок */
}

/* лого по центру,размер */
header{
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
.logo{
    Width: 30%;
}
.logo_map{
    width:80%; 
    border-radius: 50px 50px 50px 50px;
}
/*стиль шрифта*/
p {
    color: #ffffff;
}
/*стиль подвала*/
.footer{
	text-align: center; 
}